@import "../../shared/assets/styles/vars.scss";

.day {
    width: 100%;
    max-height: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: $text-color;
    padding: 10px 20px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: $gray-color;
        color: #fff;
        border-radius: 100%;
    }
    &__current {
        span {
            background: $blue-color;
        }
    }
    &__previous {
        span {
            background: $gray-hover;
        }
    }
    &__events {
        max-height: 100px;
        height: 100vh;
        overflow-y: hidden;
    }
    &__event + &__event {
        margin-top: 10px;
    }
    &__event {
        max-width: 170px;
        width: 100%;
        font-size: 12px;
        line-height: normal;
        background: $blue-color;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 3px 14px;
        margin: 0;
        border-radius: 3px;
    }
    &__events_more {
        font-size: 12px;
        line-height: normal;
        font-weight: 500;
    }
}

.day + .day {
    border-left: 0;
}
